// .projectsContainer {
//   display: flex;
//   flex-wrap: wrap;
// }

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 769px) and (max-width: 1280px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
