@import "../styles/variables";
.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: space-between;
}

.nav-item {
  color: $navy-color;
  font-size: 1.3rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: $aqua-color;
}

.active-nav-item {
  color: $aqua-color;
}